body[b-obv9jtmh3v] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container[b-obv9jtmh3v] {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header[b-obv9jtmh3v] {
    position: relative;
    text-align: center;
    color: white;
}

    .header img[b-obv9jtmh3v] {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .header h1[b-obv9jtmh3v] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        margin: 0;
    }

.events[b-obv9jtmh3v] {
    padding: 16px;
}

.event[b-obv9jtmh3v] {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-radius: 6px;
    border: 1px solid #ddd;
}

    .event img[b-obv9jtmh3v] {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 16px;
    }

    .event div[b-obv9jtmh3v] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .event h3[b-obv9jtmh3v] {
        margin: 0;
        font-size: 16px;
        color: #333;
    }

    .event p[b-obv9jtmh3v] {
        margin: 0;
        font-size: 14px;
        color: #777;
    }

.icons[b-obv9jtmh3v] {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .icons img[b-obv9jtmh3v] {
        width: 24px;
        margin: 0 10px;
    }
